// Control colors
$success-bg-color: #DEFCD5 !default;
$warning-bg-color: #F6F3D5 !default;
$error-bg-color: #F1D7D7 !default;

$success-color: #52A954 !default;
$error-color: #A95252 !default;
$warning-color: #96904D !default;
