/* List */
$list-style-type: none !default;
$list-style-position: outside !default;
$list-margin: 0.25em 0em !default;
$list-vertical-padding: 0em !default;
$list-horizontal-padding: 0em !default;

/* List Item */
$list-item-vertical-padding: 0.18em !default;
$list-item-horizontal-padding: 0em !default;
$list-item-padding: $list-item-vertical-padding $list-item-horizontal-padding !default;
$list-item-lineheight: 1.1em !default;

/* Sub List */
$list-child-padding: 0 !default;//0.75em 0em 0.25em 0.5em;
$list-child-indent: 1em !default;

/* Sub List Item */
$list-child-item-vertical-padding: 0.14em !default;
$list-child-item-horizontal-padding: 0em !default;
$list-child-item-padding: $list-child-item-vertical-padding $list-child-item-horizontal-padding !default;
$list-child-item-lineheight: inherit !default;

/* Float */
$list-float-distance: 1em !default;
$list-left-float-margin: 0em $list-float-distance 0em 0em !default;
$list-right-float-margin: 0em 0em 0em $list-float-distance !default;


/*-------------------
      Selection
--------------------*/

$list-header-font: $base-font-family !default;
$list-text-color: $body-copy-color !default;
$list-link-color: $primary-color !default; 
$list-link-hover-color: darken($list-link-color, 10%) !default;

$list-default-duration : 0.1s !default;
$list-default-easing   : ease !default;

$list-light-text-color: lighten($list-text-color, 10%) !default;
$list-disabled-text-color: lighten($list-text-color, 20%) !default;
$list-unselected-text-color: $list-light-text-color;
// TODO
$list-hovered-text-color: $list-text-color !default;
$list-pressed-text-color: darken($list-text-color, 10%) !default;
$list-selected-text-color: $list-text-color !default;

/* Selection List */
$list-selection-item-margin: 0em !default;
$list-selection-item-border-radius: 0.5em !default;
$list-selection-item-vertical-padding: 0.5em !default;
$list-selection-item-horizontal-padding: 0.5em !default;
$list-selection-transition:
  $list-default-duration color $list-default-easing,
  $list-default-duration padding-left $list-default-easing,
  $list-default-duration background-color $list-default-easing !default;

/* Selection List States */
$list-selection-background: transparent !default;
$list-selection-color: $list-unselected-text-color !default;
$list-selection-hover-background: $subtle-transparent-black !default;
$list-selection-hover-color: $list-hovered-text-color !default;
$list-selection-down-background: $transparent-black !default;
$list-selection-down-color: $list-pressed-text-color !default;
$list-selection-active-background: $transparent-black !default;
$list-selection-active-color: $list-selected-text-color !default;

.ui.list {
  list-style-type: $list-style-type;
  margin: $list-margin;
  padding: $list-vertical-padding $list-horizontal-padding;
}

.ui.list:first-child {
  margin-top: 0em;
  padding-top: 0em;
}

.ui.list:last-child {
  margin-bottom: 0em;
  padding-bottom: 0em;
}

/* List Item */
.ui.list > .item,
.ui.list .list > .item {
  display: list-item;
  table-layout: fixed;
  list-style-type: $list-style-type;
  list-style-position: $list-style-position;

  padding: $list-item-padding;
  line-height: $list-item-lineheight;
}

.ui.list > .list > .item,
.ui.list > .item:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.ui.list .list > .item:first-child,
.ui.list > .item:first-child {
  padding-top: 0em;
}
.ui.list .list > .item:last-child,
.ui.list > .item:last-child {
  padding-bottom: 0em;
}

/* Child List */
.ui.list .list {
  clear: both;
  margin: 0em;
  padding: $list-child-padding;
}

/* Child Item */
.ui.list .list > .item {
  padding: $list-child-item-padding;
  line-height: $list-child-item-lineheight;
}

/*-------------------
      Horizontal
--------------------*/

/* Horizontal */
$horizontalSpacing: 0.55em;
$horizontalIconDistance: 0.2em;
$horizontalVerticalAlign: middle;

.ui.horizontal.list {
  display: inline-block;
  font-size: 0em;
}
.ui.horizontal.list > .item {
  display: inline-block;
  margin-left: $horizontalSpacing;
  font-size: 1rem;
}
.ui.horizontal.list:not(.celled) > .item:first-child {
  margin-left: 0em !important;
  padding-left: 0em !important;
}
.ui.horizontal.list .list {
  padding-left: 0em;
  padding-bottom: 0em;
}

.ui.horizontal.list > .item > .image,
.ui.horizontal.list .list > .item > .image,
.ui.horizontal.list > .item > .icon,
.ui.horizontal.list .list > .item > .icon,
.ui.horizontal.list > .item > .content,
.ui.horizontal.list .list > .item > .content {
  vertical-align: $horizontalVerticalAlign;
}

/* Padding on all elements */
.ui.horizontal.list > .item:first-child,
.ui.horizontal.list > .item:last-child {
  padding-top: $list-item-vertical-padding;
  padding-bottom: $list-item-vertical-padding;
}

/* Horizontal List */
.ui.horizontal.list > .item > i.icon {
  margin: 0em;
  padding: 0em $horizontalIconDistance 0em 0em;
}
.ui.horizontal.list > .item > .icon,
.ui.horizontal.list > .item > .icon + .content {
  //float: none;
  display: inline-block;
}


/*-------------------
       Divided
--------------------*/

/* Divided */
$dividedBorderWidth: 1px;
$dividedBorder: $dividedBorderWidth solid $border-color;
$dividedChildListBorder: none;
$dividedChildItemBorder: none;

/* Divided Horizontal */
$horizontalDividedSpacing: ($horizontalSpacing / 2);
$horizontalDividedLineHeight: 0.6;

/* Divided */
$celledBorderWidth: 1px;
$celledBorder: $celledBorderWidth solid $border-color;
$celledHorizontalPadding: 0.5em;
$celledChildListBorder: none;
$celledChildItemBorder: none;

.ui.divided.list > .item {
  border-top: $dividedBorder;
}
.ui.divided.list .list > .item {
  border-top: $dividedChildListBorder;
}
.ui.divided.list .item .list > .item {
  border-top: $dividedChildItemBorder;
}
.ui.divided.list .list > .item:first-child,
.ui.divided.list > .item:first-child {
  border-top: none;
}

/* Sub Menu */
.ui.divided.list:not(.horizontal) .list > .item:first-child {
  border-top-width: $dividedBorderWidth;
}

.ui.selection.list .list > .item,
.ui.selection.list > .item {
  cursor: default;
  background: $list-selection-background;
  padding: $list-selection-item-vertical-padding $list-selection-item-horizontal-padding;
  margin: $list-selection-item-margin;
  color: $list-selection-color;
  border-radius: $list-selection-item-border-radius;
  transition: $list-selection-transition;
}
.ui.selection.list .list > .item:last-child,
.ui.selection.list > .item:last-child {
  margin-bottom: 0em;
}
.ui.hover.list .list > .item:hover,
.ui.hover.list > .item:hover {
  background: $list-selection-hover-background;
  color: $list-selection-hover-color;
}
.ui.hover.list .list > .item:active,
.ui.hover.list > .item:active {
  background: $list-selection-down-background;
  color: $list-selection-down-color;
}
.ui.selection.list .list > .item.active,
.ui.selection.list > .item.active {
  background: $list-selection-active-background;
  color: $list-selection-active-color;
}

/* Celled / Divided Selection List */
.ui.celled.selection.list .list > .item,
.ui.divided.selection.list .list > .item,
.ui.celled.selection.list > .item,
.ui.divided.selection.list > .item {
  border-radius: 0em;
}

/* Floated Content */
.ui[class*="left floated"].list {
  float: left;
}
.ui[class*="right floated"].list {
  float: right;
}

.ui.list .list > .item [class*="left floated"],
.ui.list > .item [class*="left floated"] {
  float: left;
  margin: $list-left-float-margin;
}
.ui.list .list > .item [class*="right floated"],
.ui.list > .item [class*="right floated"] {
  float: right;
  margin: $list-right-float-margin;
}

// ==================================================
// custom

.ui.small.selection.list .item {
  padding: 0.5em 0.35em;
}

// table-like

.ui.divided.list > .columns {
  cursor: default;
  margin-top: 0;
  padding-top: 0.5em;
  border-top: $dividedBorder;
  
  > .column:first-child {
    padding-left: 0.35em;
    padding-bottom: 0.5em;
  }
}
.ui.divided.list > .columns:first-child {
  border-top: none;
}

.columns.active {
  background: $list-selection-active-background;
  color: $list-selection-active-color;
}
